@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.perspective-1000 {
	perspective: 1000px;
}

.preserve-3d {
	transform-style: preserve-3d;
}

.backface-hidden {
	backface-visibility: hidden;
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: rgb(191 219 254);
	color: rgb(30 58 138);
}
